/*.bg-light {*/
/*  background-color: #f2f4f9 !important; }*/

/*.pb_icon-gradient {*/
/*  background: #665fee;*/
/*  !* Old browsers *!*/
/*  background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);*/
/*  !* FF3.6-15 *!*/
/*  background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);*/
/*  !* Chrome10-25,Safari5.1-6 *!*/
/*  background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);*/
/*  background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);*/
/*  !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*  -webkit-background-clip: text;*/
/*  -webkit-text-fill-color: transparent; }*/
/* latin */

p, li {
  font-family: Karla, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family:  Butler, sans-serif;
}

#pb-navbar.awake .navbar {
  max-height: 100px;
}

.navbar-brand {
  height: 200px;
}
#pb-navbar.scrolled .navbar-brand {
  height: 100px;
}
#pb-navbar.awake .navbar-brand {
  height: 100px;
}

#pb-navbar.scrolled {
  background-color: #e2af90;
}
#pb-navbar.awake {
  background-color: #e2af90;
  padding: 0;
}

#section-home {
  background-color: #e2af90;
}

.heading-font {
  font-family: Butler !important;
}

.content-font {
  font-family: Karla !important;
}

#section-founders {
  background-color: #ded2c6;
}

#section-about {
  background-color: #f2f3f3;
}

#section-why: {
  background-color: #f2f3f3;
}

.card {
  background-color: #f2f3f3;
}